<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de - Novoa & Novoa Abogados</title>
</head>
<body>
    <h1>Acerca de</h1>
    
    <div>
        <article>
            <img src="https://cdn-icons-png.flaticon.com/512/2790/2790260.png" 
                alt="Icono educación" width="80" height="80">
            <h3>Equipo Especializado</h3>
            <p>Nuestro equipo multidisciplinario brinda soluciones jurídicas innovadoras y personalizadas para cada cliente.</p>
        </article>
        
        <article>
            <img src="https://media.istockphoto.com/id/1277216880/es/vector/equilibrio-escala-de-la-justicia-icono.jpg?s=612x612&w=0&k=20&c=lTg8ZmZdR-z1I5KHbETMfdIsNkeXdUCi4LXFf312nXc=" 
                alt="Icono balanza" width="80" height="80">
            <h3>20 años de experiencia</h3>
            <p>Asesoramos con éxito a empresas y personas en diversas áreas del derecho.</p>
        </article>
        
        <article>
            <img src="https://cdn-icons-png.flaticon.com/512/4205/4205597.png"
                alt="Icono medalla" width="80" height="80">
            <h3>Compromiso con la excelencia</h3>
            <p>Nos destacamos por ofrecer servicios legales con ética, profesionalismo y calidad superior.</p>
        </article>
    </div>
    
    <!-- Misión y Visión -->
    <div>
        <article>
            <h3>Misión</h3>
            <p>La misión de Novoa & Novoa Abogados EIRL es ofrecer servicios legales de alta calidad en diversas áreas del derecho, brindando asesoría personalizada, soluciones efectivas y promoviendo la confianza y satisfacción de sus clientes.</p>
        </article>
        
        <article>
            <h3>Visión</h3>
            <p>Novoa & Novoa Abogados EIRL busca consolidarse como una de las firmas jurídicas líderes a nivel nacional, reconocida por su excelencia profesional, compromiso ético y dedicación en la defensa de los intereses de sus clientes.</p>
        </article>
    </div>
</body>
</html>