<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilosEncabezado.css">
    <link rel="stylesheet" type="text/css" href="../css/estiloWhatsapp.css">
    <title>Inicio - Novoa & Novoa Abogados</title>
</head>
<body>
    <header>
        <div>
            <img src="../imagenes/novoa logo.png" 
                alt="Logo Novoa & Novoa Abogados" 
                width="150" height="50">
        </div>            
        <nav>
            <ul>
                <li><a href="home.html">Inicio</a></li>
                <li><a href="areas.html">Áreas</a></li>
                <li><a href="noticias.html">Noticias</a></li>
                <li><a href="equipo.html">Nuestro Equipo</a></li>
                <li><a href="acercaDe.html">Acerca de</a></li>
                <li><a href="contacto.html">Contacto</a></li>                    
            </ul>
        </nav>
</header>
    <h1>Bienvenidos a Novoa & Novoa Abogados</h1>
    
    <div>
        <img src="https://thumbs.dreamstime.com/b/sesi%C3%B3n-de-fotos-abogados-haciendo-notas-con-laptop-en-la-sala-del-tribunal-clausura-mano-un-abogado-una-audiencias-176594396.jpg" 
            alt="Abogado trabajando en laptop" width="350" height="250">
        <img src="https://img.freepik.com/fotos-premium/equipo-abogados-negocios-trabajando-juntos-abogado-reunion_37714-531.jpg"
            alt="Abogado con equipo" width="350" height="250">
        <img src="https://media.istockphoto.com/id/1431402013/es/foto/apret%C3%B3n-de-manos-abogado-servicios-jur%C3%ADdicos-asesoramiento-concepto-de-justicia.jpg?s=612x612&w=0&k=20&c=uJov7AHzanbycE61A7Q_OsoDaHZBRG2Mr_EBIa0ls7I=" 
            alt="Apretón de manos" width="350" height="250">
    </div>
    
    <div>
        <p>En Novoa & Novoa Abogados EIRL, nos dedicamos a brindar asesoría legal integral y soluciones efectivas para nuestros clientes. Con más de 20 años de experiencia en diversas áreas del derecho, nuestro equipo de profesionales está comprometido con la excelencia y la satisfacción de quienes confían en nosotros.</p>
        <p>Explore nuestro sitio web para conocer más sobre nuestras áreas de práctica, noticias jurídicas relevantes y nuestro equipo de profesionales.</p>
    </div>
    <!-- Botón flotante de WhatsApp -->
    <div id="whatsapp-button">
        <a href="https://wa.me/927899135" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/2044px-WhatsApp.svg.png" 
                alt="WhatsApp" width="60" height="60">
        </a>
    </div>

    <!-- Pie de página fijo -->
    <footer>
        <div>
            <p>Proyecto realizado por alumnos del V ciclo de la UTP - Ing. de Sistemas e Informática</p>
        </div>
    </footer>
</body>
</html>