<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/estilosEncabezado.css">
    <link rel="stylesheet" type="text/css" href="../css/estiloWhatsapp.css">
    <title>Novoa & Novoa Abogados</title>
</head>
<body>
    <!-- Cabecera fija -->
    <header>
            <div>
                <img src="../imagenes/novoa logo.png" 
                    alt="Logo Novoa & Novoa Abogados" 
                    width="150" height="50">
            </div>            
            <nav>
                <ul>
                    <li><a href="home.html">Inicio</a></li>
                    <li><a href="areas.html">Áreas</a></li>
                    <li><a href="noticias.html">Noticias</a></li>
                    <li><a href="equipo.html">Nuestro Equipo</a></li>
                    <li><a href="acercaDe.html">Acerca de</a></li>
                    <li><a href="contacto.html">Contacto</a></li>                     
                </ul>
            </nav>
    </header>

    <!-- Botón flotante de WhatsApp -->
    <div id="whatsapp-button">
        <a href="https://wa.me/927899135" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/2044px-WhatsApp.svg.png" 
                alt="WhatsApp" width="60" height="60">
        </a>
    </div>

    <!-- Pie de página fijo -->
    <footer>
        <div>
            <p>Proyecto realizado por alumnos del V ciclo de la UTP - Ing. de Sistemas e Informática</p>
        </div>
    </footer>
</body>
</html>