<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/estilosEncabezado.css" />
    <link rel="stylesheet" type="text/css" href="../css/estiloWhatsapp.css" />
    <link rel="stylesheet" type="text/css" href="../css/slider.css" />
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/estiloGeneral.css" />
    <title>Novoa & Novoa Abogados</title>
  </head>
  <body>
    <header>
      <div>
        <a href="index.html">
          <img
          src="../imagenes/novoa logo.png"
          alt="Logo Novoa & Novoa Abogados"
          width="150"
          height="50" />
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="index.html">Inicio</a></li>
          <li><a href="areas.html">Áreas</a></li>
          <li><a href="noticias.html">Noticias</a></li>
          <li><a href="equipo.html">Nuestro Equipo</a></li>
          <li><a href="acercaDe.html">Acerca de</a></li>
          <li><a href="contacto.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <div class="slider">
      <div class="slides">
        <div class="slide">
          <img
            src="../imagenes/imagen1.jpg"
            width="350"
            height="250" />
        </div>
        <div class="slide">
          <img
            src="../imagenes/imagen2.jpg"
            width="350"
            height="250" />
        </div>
        <div class="slide">
          <img
            src="../imagenes/imagen3.jpg"
            width="350"
            height="250" />
        </div>
        <div class="slide">
          <img
            src="../imagenes/imagen4.jpg"
            width="350"
            height="250" />
        </div>
      </div>
      <div class="slider-dots">
        <span class="dot" data-index="0"></span>
        <span class="dot" data-index="1"></span>
        <span class="dot" data-index="2"></span>
        <span class="dot" data-index="3"></span>
      </div>
    </div>

    <div class="parrafo">
      <p>
        En <b>Novoa & Novoa Abogados EIRL</b>, nos dedicamos a brindar asesoría legal
        integral y soluciones efectivas para nuestros clientes. Con más de 20
        años de experiencia en diversas áreas del derecho, nuestro equipo de
        profesionales está comprometido con la excelencia y la satisfacción de
        quienes confían en nosotros.
      </p>
      <p>
        Explore nuestro sitio web para conocer más sobre nuestras áreas de
        práctica, noticias jurídicas relevantes y nuestro equipo de
        profesionales.
      </p>
    </div>
    <!-- Botón flotante de WhatsApp -->
    <div id="whatsapp-button">
      <a href="https://wa.me/927899135" target="_blank">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/2044px-WhatsApp.svg.png"
          alt="WhatsApp"
          width="60"
          height="60" />
      </a>
    </div>

    <!-- Pie de página fijo -->
    <footer>
      <div>
        <p>
          Proyecto realizado por alumnos del V ciclo de la UTP - Ing. de
          Sistemas e Informática
        </p>
      </div>
    </footer>
  </body>
</html>
