<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novoa & Novoa Abogados</title>
</head>
<body>
    <!-- Cabecera fija -->
    <header>
        <div>
            <div>
                <img src="https://lh3.googleusercontent.com/GIgZReOqJI_fsRKVyjIFM0-WBIi4A87sUwEUZKbwhYmVv3aMajgBsOAWHJ8Ej_ikQp50urA=s170" 
                    alt="Logo Novoa & Novoa Abogados" 
                    width="150" height="50">
            </div>
            
            <nav>
                <ul>
                    <li><a href="index\home.html" 
                        target="content-frame">Inicio</a></li>
                    <li><a href="areas.html" 
                        target="content-frame">Áreas</a></li>
                    <li><a href="noticias.html" 
                        target="content-frame">Noticias</a></li>
                    <li><a href="equipo.html" 
                        target="content-frame">Nuestro Equipo</a></li>
                    <li><a href="acercaDe.html"
                         target="content-frame">Acerca de</a></li>
                    <li><a href="contacto.html" 
                        target="content-frame">Contacto</a></li>
                    
                </ul>
            </nav>
        </div>
    </header>

    <!-- Contenido principal que cambiará dinámicamente usando iframe -->
    <main>
        <iframe name="content-frame" src="sections/home.html"></iframe>
    </main>

    <!-- Botón flotante de WhatsApp -->
    <div>
        <a href="https://wa.me/927899135" target="_blank">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6b/WhatsApp.svg/2044px-WhatsApp.svg.png" 
                alt="WhatsApp" width="60" height="60">
        </a>
    </div>

    <!-- Pie de página fijo -->
    <footer>
        <div>
            <p>Proyecto realizado por alumnos del V ciclo de la UTP - Ing. de Sistemas e Informática</p>
        </div>
    </footer>
</body>
</html>